html, body {

margin: 1em;

height: 100%;

font-size: 100%;

}

* {

font-family: Verdana, Arial, Helvetica, sans-serif;

}

/*-----------------------------------------------------------*/

table.first {

border-collapse: separate;

border: 2px solid black;

}

table.first th, table.first td {

border: 2px solid blue;

}

table.first tr:nth-child(odd) {

background-color: lightblue;

}

/*-----------------------------------------------------------*/

table.second {

border-collapse: collapse;

border: 2px solid purple;

caption-side: bottom;

}

table.second th {

background-color: salmon;

}

table.second th, table.second td {

padding: 0.7em;

vertical-align: middle;

border: 2px solid purple;

}

table.second thead tr:first-child{

border-bottom: 2px solid purple;

}

/*-----------------------------------------------------------*/

table.third {
border-collapse: collapse;
border: 2px solid orangered;
}

table.third th, table.third td {
border-right: 2px solid orangered;
border-left: 2px solid orangered;
padding: 0.7em;
} 

table.third tr:first-child th {
border-top: 2px solid orangered;
border-bottom: 2px solid orangered;
background-color: lemonchiffon;
}

table.third tr:nth-child td {
border-bottom: 2px solid orangered;
background-color: oldlace;
}

table.third tr:last-child td {
border-bottom: 2px solid orangered;
background-color: white;
}   

